[package]
name = "{{crate_name}}"
version = "0.1.0"
edition = "2021"

[dependencies]
autumn-harvest = { version = "0.6", features = ["db"] }
autumn-harvest-plugin = "0.6"
autumn-web = "0.7"
serde_json = "1"
tracing = "0.1"
